* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  overflow: hidden;
  font-family: "Taviraj", serif;
}

body {
  background-image: radial-gradient(
    circle,
    #f4f7c5,
    #ddeec3,
    #c8e4c2,
    #b7d9c1,
    #aacdbe
  );
}

/* ===== Title === */

h1 {
  text-align: center;
  font-weight: 300;
  font-size: 4rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
  margin-bottom: 5rem;
}

/* ===== Table === */

.table {
  margin: 0 auto;
  text-align: center;
  width: fit-content;
  background: white;
  border-radius: 5px;
}

table {
  border-radius: 5px;
  border-spacing: 2px;
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.7);
}

tr,
td {
  border: 2px solid #111;
  border-radius: 15%;
}

div td {
  width: 4rem;
  height: 4rem;
  transition: all 0.4s ease;
}

/* ===== Green === */

tr:nth-child(4),
tr:nth-child(5),
tr:nth-child(6),
tr:nth-child(7) {
  background-color: yellowgreen;
}

/* ===== Blue light === */

tr:nth-child(8),
tr:nth-child(6) :nth-child(3) {
  background-color: lightblue;
}

/* ===== Blue dark === */

tr:nth-child(9),
tr:nth-child(2) :first-child,
tr:nth-child(3) :first-child,
tr:nth-child(4) :first-child,
tr:nth-child(5) :first-child,
tr:nth-child(6) :first-child,
tr:nth-child(7) :first-child,
tr:nth-child(8) :first-child,
tr:nth-child(7) :nth-child(17),
tr:nth-child(7) :nth-child(3) {
  background-color: steelblue;
}

/* ===== Yellow === */

tr:nth-child(1) :first-child,
tr:nth-child(2) :nth-child(14),
tr:nth-child(2) :nth-child(15),
tr:nth-child(2) :nth-child(16),
tr:nth-child(3) :nth-child(15),
tr:nth-child(3) :nth-child(16),
tr:nth-child(4) :nth-child(16) {
  background-color: yellow;
}

/* ===== Violet === */

tr:nth-child(1) :last-child,
tr:nth-child(2) :last-child,
tr:nth-child(3) :last-child,
tr:nth-child(4) :last-child,
tr:nth-child(5) :last-child,
tr:nth-child(6) :last-child,
tr:nth-child(7) :nth-child(16) {
  background-color: palevioletred;
}

/* ===== Brown === */

tr:nth-child(2) :nth-child(2),
tr:nth-child(3) :nth-child(2),
tr:nth-child(4) :nth-child(2),
tr:nth-child(5) :nth-child(2),
tr:nth-child(6) :nth-child(2),
tr:nth-child(7) :nth-child(2),
tr:nth-child(7) :nth-child(18) {
  background-color: peru;
}

/* ===== Red === */

tr:nth-child(2) :nth-child(17),
tr:nth-child(3) :nth-child(17),
tr:nth-child(4) :nth-child(17),
tr:nth-child(5) :nth-child(17),
tr:nth-child(6) :nth-child(17),
tr:nth-child(7) :nth-child(15) {
  background-color: red;
}

/* ===== Pink === */

tr:nth-child(3) :nth-child(13),
tr:nth-child(4) :nth-child(13),
tr:nth-child(5) :nth-child(13),
tr:nth-child(5) :nth-child(14),
tr:nth-child(6) :nth-child(13),
tr:nth-child(6) :nth-child(14),
tr:nth-child(6) :nth-child(15),
tr:nth-child(7) :nth-child(13),
tr:nth-child(7) :nth-child(14) {
  background-color: pink;
}

/* ===== Purple === */

tr:nth-child(2) :nth-child(13),
tr:nth-child(3) :nth-child(14),
tr:nth-child(4) :nth-child(14),
tr:nth-child(4) :nth-child(15),
tr:nth-child(5) :nth-child(15),
tr:nth-child(5) :nth-child(16),
tr:nth-child(6) :nth-child(16) {
  background-color: mediumpurple;
}

/* ===== White === */

tr:nth-child(8) :first-child,
tr:nth-child(9) :first-child,
tr:nth-child(8) :nth-child(16),
tr:nth-child(8) :nth-child(17),
tr:nth-child(8) :nth-child(18),
tr:nth-child(9) :nth-child(16),
tr:nth-child(9) :nth-child(17),
tr:nth-child(9) :nth-child(18) {
  background-color: white;
  border: none;
}

/* ===== Empty === */

.o {
  border: none;
}

.o:hover {
  cursor: auto;
}

/* ===== Hover === */

div td:hover {
  font-size: 1.5rem;
  cursor: pointer;
  text-shadow: 2px 2px 3px black;
}

/* ===== Responsive === */

@media (max-width: 1300px) {
  div td {
    width: 3rem;
    height: 3rem;
  }

  div td:hover {
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px black;
  }
}

@media (max-width: 1050px) {
  h1 {
    margin-bottom: 10rem;
  }

  div td {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.9rem;
  }

  div td:hover {
    font-size: 1rem;
  }
}

@media (max-width: 740px) {
  h1 {
    font-size: 2rem;
  }

  div td {
    width: 1.2rem;
    height: 1.2rem;
    font-size: 0.5rem;
  }

  div td:hover {
    font-size: 0.5rem;
    text-shadow: 0 0 0 black;
  }
}
