/* title */
h1 {
  text-align: center;
  font-size: 40px;
}
/* table */
.table {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}
table {
  border-spacing: 2px;
}
tr,
td {
  border: 1px solid black;
  border-radius: 15%;
}
div td {
  width: 70px;
  height: 70px;
}
/* empty data */
.o {
  border: none;
}
/* green */
tr:nth-child(4),
tr:nth-child(5),
tr:nth-child(6),
tr:nth-child(7) {
  background-color: green;
}
/* blue light */
tr:nth-child(8),
tr:nth-child(6) :nth-child(3) {
  background-color: rgb(127, 255, 212);
}
/* blue dark */
tr:nth-child(9),
tr:nth-child(2) :first-child,
tr:nth-child(3) :first-child,
tr:nth-child(4) :first-child,
tr:nth-child(5) :first-child,
tr:nth-child(6) :first-child,
tr:nth-child(7) :first-child,
tr:nth-child(8) :first-child,
tr:nth-child(7) :nth-child(17),
tr:nth-child(7) :nth-child(3) {
  background-color: rgba(65, 105, 225, 0.959);
}
/* yellow */
tr:nth-child(1) :first-child,
tr:nth-child(2) :nth-child(14),
tr:nth-child(2) :nth-child(15),
tr:nth-child(2) :nth-child(16),
tr:nth-child(3) :nth-child(15),
tr:nth-child(3) :nth-child(16),
tr:nth-child(4) :nth-child(16) {
  background-color: rgba(255, 255, 0, 0.973);
}
/* violet */
tr:nth-child(1) :last-child,
tr:nth-child(2) :last-child,
tr:nth-child(3) :last-child,
tr:nth-child(4) :last-child,
tr:nth-child(5) :last-child,
tr:nth-child(6) :last-child,
tr:nth-child(7) :nth-child(16) {
  background-color: violet;
}
/* brown */
tr:nth-child(2) :nth-child(2),
tr:nth-child(3) :nth-child(2),
tr:nth-child(4) :nth-child(2),
tr:nth-child(5) :nth-child(2),
tr:nth-child(6) :nth-child(2),
tr:nth-child(7) :nth-child(2),
tr:nth-child(7) :nth-child(18) {
  background-color: burlywood;
}
/* red */
tr:nth-child(2) :nth-child(17),
tr:nth-child(3) :nth-child(17),
tr:nth-child(4) :nth-child(17),
tr:nth-child(5) :nth-child(17),
tr:nth-child(6) :nth-child(17),
tr:nth-child(7) :nth-child(15) {
  background-color: rgba(255, 0, 0, 0.753);
}
/* pink */
tr:nth-child(3) :nth-child(13),
tr:nth-child(4) :nth-child(13),
tr:nth-child(5) :nth-child(13),
tr:nth-child(5) :nth-child(14),
tr:nth-child(6) :nth-child(13),
tr:nth-child(6) :nth-child(14),
tr:nth-child(6) :nth-child(15),
tr:nth-child(7) :nth-child(13),
tr:nth-child(7) :nth-child(14) {
  background-color: rgb(255, 192, 203);
}
/* other pink */
tr:nth-child(2) :nth-child(13),
tr:nth-child(3) :nth-child(14),
tr:nth-child(4) :nth-child(14),
tr:nth-child(4) :nth-child(15),
tr:nth-child(5) :nth-child(15),
tr:nth-child(5) :nth-child(16),
tr:nth-child(6) :nth-child(16) {
  background-color: purple;
}
/* white */
tr:nth-child(8) :first-child,
tr:nth-child(9) :first-child,
tr:nth-child(8) :nth-child(16),
tr:nth-child(8) :nth-child(17),
tr:nth-child(8) :nth-child(18),
tr:nth-child(9) :nth-child(16),
tr:nth-child(9) :nth-child(17),
tr:nth-child(9) :nth-child(18) {
  background-color: white;
  border: none;
}
