h1 {
  text-align: center;
}
div {
  width: 1200px;
  height: 300px;
  margin: 100px 0px 0px 200px;
}
table {
  border-spacing: 5px;
}
tr,
td {
  border: 1px solid black;
  border-radius: 20%;
}
div td {
  width: 50px;
  height: 30px;
}
/* empty */
.o {
  border: none;
}
/* green */
tr:nth-child(4),
tr:nth-child(5),
tr:nth-child(6),
tr:nth-child(7) {
  background-color: green;
}
/* blue light */
tr:nth-child(8),
tr:nth-child(6) :nth-child(3) {
  background-color: aquamarine;
}
/* blue dark */
tr:nth-child(9),
tr:nth-child(2) :first-child,
tr:nth-child(3) :first-child,
tr:nth-child(4) :first-child,
tr:nth-child(5) :first-child,
tr:nth-child(6) :first-child,
tr:nth-child(7) :first-child,
tr:nth-child(8) :first-child,
tr:nth-child(7) :nth-child(17),
tr:nth-child(7) :nth-child(3) {
  background-color: blue;
}
/* yellow */
tr:nth-child(1) :first-child,
tr:nth-child(2) :nth-child(14),
tr:nth-child(2) :nth-child(15),
tr:nth-child(2) :nth-child(16),
tr:nth-child(3) :nth-child(15),
tr:nth-child(3) :nth-child(16),
tr:nth-child(4) :nth-child(16) {
  background-color: yellow;
}
/* violet */
tr:nth-child(1) :last-child,
tr:nth-child(2) :last-child,
tr:nth-child(3) :last-child,
tr:nth-child(4) :last-child,
tr:nth-child(5) :last-child,
tr:nth-child(6) :last-child,
tr:nth-child(7) :nth-child(16) {
  background-color: violet;
}
/* brown */
tr:nth-child(2) :nth-child(2),
tr:nth-child(3) :nth-child(2),
tr:nth-child(4) :nth-child(2),
tr:nth-child(5) :nth-child(2),
tr:nth-child(6) :nth-child(2),
tr:nth-child(7) :nth-child(2),
tr:nth-child(7) :nth-child(18) {
  background-color: burlywood;
}
/* red */
tr:nth-child(2) :nth-child(17),
tr:nth-child(3) :nth-child(17),
tr:nth-child(4) :nth-child(17),
tr:nth-child(5) :nth-child(17),
tr:nth-child(6) :nth-child(17),
tr:nth-child(7) :nth-child(15) {
  background-color: red;
}
/* pink */
tr:nth-child(3) :nth-child(13),
tr:nth-child(4) :nth-child(13),
tr:nth-child(5) :nth-child(13),
tr:nth-child(5) :nth-child(14),
tr:nth-child(6) :nth-child(13),
tr:nth-child(6) :nth-child(14),
tr:nth-child(6) :nth-child(15),
tr:nth-child(7) :nth-child(13),
tr:nth-child(7) :nth-child(14) {
  background-color: rgb(255, 192, 203);
}
/* other pink */
tr:nth-child(2) :nth-child(13),
tr:nth-child(3) :nth-child(14),
tr:nth-child(4) :nth-child(14),
tr:nth-child(4) :nth-child(15),
tr:nth-child(5) :nth-child(15),
tr:nth-child(5) :nth-child(16),
tr:nth-child(6) :nth-child(16) {
  background-color: purple;
}
/* white */
tr:nth-child(8) :first-child,
tr:nth-child(9) :first-child,
tr:nth-child(8) :nth-child(16),
tr:nth-child(8) :nth-child(17),
tr:nth-child(8) :nth-child(18),
tr:nth-child(9) :nth-child(16),
tr:nth-child(9) :nth-child(17),
tr:nth-child(9) :nth-child(18) {
  background-color: white;
  border: none;
}
